<?xml version="1.0" encoding="UTF-8"?>
<launch>

<!--
  <node pkg="snap_cam" type="snap_cam_publisher_node" name="snap_cam_highres_publisher" output="screen" launch-prefix="/home/linaro/ws/src/snap_cam/launch/run_tmux" />
-->
  <node pkg="snap_cam" type="snap_cam_exec" name="camera" output="screen" >

    <!-- resolution: QVGA, VGA, 720p, 1080p, 4k -->
    <param name="camera_resolution" value="4k"/>

    <!-- auto, infinity, macro, continuous-video, continuous-picture, manual -->
    <param name="focus_mode" value="continuous-video"/>

    <!-- auto, incandescent, fluorescent, warm-fluorescent, daylight, cloudy-daylight, twilight, shade, manual-cct -->
    <param name="white_balance" value="auto"/>

    <!-- auto, ISO_HJR, ISO100, ISO200, ISO400, ISO800, ISO1600, ISO3200 -->
    <param name="iso" value="ISO3200"/>

    <!-- yuv420sp, yuv420p, nv12-venus, bayer-rggb -->
    <param name="preview_format" value="yuv420sp"/>

    <!-- brightness: integer beween 1-6-->
    <param name="brightness" value="3"/>

    <!-- sharpness: integer between 0-36 in increments of 6-->
    <param name="sharpness" value="18"/>

    <!-- contrast: integer between 0-10 -->
    <param name="contrast" value="5"/>

    <!-- exposure: integer between 0 and 511 --> 
    <param name="exposure" value="100"/>

    <!-- gain: integer between 0 and 255 -->
    <param name="gain" value="50"/>

    <!-- base_directory: where to save the images. Make sure this is an absolute path and that it ends in the forward-slash  -->
    <param name="base_directory" value="/mnt/sdcard/images/"/>

    <!-- callback_mode: publish, write -->
    <param name="callback_mode" value="write"/>

    </node>
</launch>
